RewriteEngine On

RewriteRule ^settings/(.+?)/?$ /index.php?p=settings&id=$1 [L]

RewriteRule ^aanmelding/(.*)$ index.php?p=lidaanmelding&id=$1 [L]
RewriteRule ^lid/(.*)$ index.php?p=ledenbeheerlid&id=$1 [L]
RewriteRule ^agenda/bekijk/(.*)$ index.php?p=agenda-informatie&id=$1 [L]
RewriteRule ^leermiddelen/(.*)$ index.php?p=leermiddelen&id=$1 [L]
RewriteRule ^afwezigheid/(.*)$ index.php?p=afwezigheid&id=$1 [L]
RewriteRule ^aanvragen/(.*)$ index.php?p=aanvragen&id=$1 [L]
RewriteRule ^vacatures/(.*)$ index.php?p=vacatures&id=$1 [L]
RewriteRule ^vacature-lezen/(.*)$ index.php?p=vacature-lezen&id=$1 [L]
RewriteRule ^cijfers/(.*)$ index.php?p=cijfers&id=$1 [L]
RewriteRule ^licentie index.php?p=licentie [L]

RewriteRule ^mailbox/view/(.*)$ index.php?p=mailbox-view&id=$1 [L]
RewriteRule ^mailbox/bericht-maken index.php?p=mailbox-maak [L]
RewriteRule ^mailbox/delete/(.*)$ index.php?p=mailbox-delete&id=$1 [L]
RewriteRule ^mailbox/reply/(.*)$ index.php?p=mailbox-reply&id=$1 [L]
RewriteRule ^mailbox/belangrijk index.php?p=mailbox-belangrijk [L]

RewriteRule ^trainingen/bekijk/(.*)$ index.php?p=trainingen-bekijk&id=$1 [L]

RewriteRule ^contact/bestuur index.php?p=contact-bestuur [L]
RewriteRule ^contact/eenheid index.php?p=contact-eenheid [L]

RewriteRule ^instructor/send-mail index.php?p=instructor-send-mail [L]
RewriteRule ^instructeur/aanvragen index.php?p=instructeur-aanvragen [L]
RewriteRule ^instructeur/aanvraag-beheer/(.*)$ index.php?p=instructeur-aanvraag-beheer&id=$1 [L]

RewriteRule ^teamleider/agenda index.php?p=teamleider-agenda [L]
RewriteRule ^teamleider/leermiddelen(.*)$ index.php?p=teamleider-leermiddelen&id=$1 [L]
RewriteRule ^teamleider/leden index.php?p=teamleider-leden [L]
RewriteRule ^teamleider/lid/(.*)$ index.php?p=teamleider-beheerlid&id=$1 [L]
RewriteRule ^teamleider/aanvragen index.php?p=teamleider-aanvragen [L]
RewriteRule ^teamleider/aanvraag-beheer/(.*)$ index.php?p=teamleider-aanvraag-beheer&id=$1 [L]
RewriteRule ^teamleider/tijdlijn index.php?p=teamleider-tijdlijn [L]
RewriteRule ^teamleider/aanmeldingen index.php?p=teamleider-aanmeldingen [L]
RewriteRule ^teamleider/aanmelding/(.*)$ index.php?p=teamleider-aanmeldinglid&id=$1 [L]
RewriteRule ^teamleider/vacature index.php?p=teamleider-vacature [L]
RewriteRule ^teamleider/bekijk/vacature/(.*)$ index.php?p=teamleider-bekijk-vacature&id=$1 [L]
RewriteRule ^teamleider/send-mail index.php?p=teamleider-send-mail [L]

RewriteRule ^development/todo-list(.*)$ index.php?p=development-todolist&id=$1 [L]

RewriteRule ^systeem/license index.php?p=systeem-license [L]

RewriteRule ^vertrouwenspersoon/leden index.php?p=vertrouwenspersoon-leden [L]
RewriteRule ^vertrouwenspersoon/lid/(.*)$ index.php?p=vertrouwenspersoon-beheerlid&id=$1 [L]
RewriteRule ^vertrouwenspersoon/problemen index.php?p=vertrouwenspersoon-problemen [L]
RewriteRule ^vertrouwenspersoon/aanpassen/probleem/(.*)$ index.php?p=vertrouwenspersoon-editprobleem&id=$1 [L]


RewriteRule ^leiding/leden index.php?p=leiding-leden [L]
RewriteRule ^leiding/lid/(.*)$ index.php?p=leiding-beheerlid&id=$1 [L]
RewriteRule ^leiding/toevoegen/lid index.php?p=leiding-addlid [L]
RewriteRule ^leiding/geef-rank index.php?p=leiding-rank [L]
RewriteRule ^leiding/contact index.php?p=leiding-contact [L]
RewriteRule ^leiding/bekijk/contact/(.*)$ index.php?p=leiding-contactbeheer&id=$1 [L]
RewriteRule ^leiding/agenda index.php?p=leiding-agenda [L]
RewriteRule ^leiding/toevoegen/agenda index.php?p=leiding-agenda-add [L]
RewriteRule ^leiding/bekijk/agenda/(.*)$ index.php?p=leiding-agendabeheer&id=$1 [L]
RewriteRule ^leiding/send-mail index.php?p=leiding-send-mail [L]
RewriteRule ^leiding/formulieren index.php?p=leiding-formulieren [L]
RewriteRule ^leiding/aanmeldingen index.php?p=leiding-aanmeldingen [L]
RewriteRule ^leiding/aanmelding/(.*)$ index.php?p=leiding-aanmeldinglid&id=$1 [L]
RewriteRule ^leiding/poorten index.php?p=leiding-poorten [L]
RewriteRule ^leiding/afwezigheid(.*)$ index.php?p=leiding-afwezigheid&id=$1 [L]
RewriteRule ^leiding/vacature index.php?p=leiding-vacature [L]
RewriteRule ^leiding/bekijk/vacature/(.*)$ index.php?p=leiding-bekijk-vacature&id=$1 [L]
RewriteRule ^leiding/tijdlijn index.php?p=leiding-tijdlijn [L]
RewriteRule ^leiding/nieuw/lid index.php?p=leiding-addlid [L]
RewriteRule ^leiding/addons index.php?p=leiding-addons [L]
RewriteRule ^leiding/configuratie index.php?p=leiding-configuratie [L]

RewriteRule ^leiding/form/vakantie/(.*)$ index.php?p=leiding-formvakantie&id=$1 [L]
RewriteRule ^leiding/form/clanpack/(.*)$ index.php?p=leiding-formclanpack&id=$1 [L]
RewriteRule ^leiding/form/contact/(.*)$ index.php?p=leiding-formcontact&id=$1 [L]
RewriteRule ^leiding/form/gegevens/(.*)$ index.php?p=leiding-formgegevens&id=$1 [L]
RewriteRule ^leiding/form/klachten/(.*)$ index.php?p=leiding-formklachten&id=$1 [L]
RewriteRule ^leiding/form/promotie/(.*)$ index.php?p=leiding-formpromotie&id=$1 [L]

RewriteRule ^profile/(.*)$ index.php?p=profile&id=$1 [L]

RewriteCond %{REQUEST_URI} !/(api|css|forms|images|includes|js|libs|login|pages|scripts|index\.php) [NC]
RewriteRule ^/?$ index.php?p=home [L,QSA]

RewriteCond %{REQUEST_URI} !/(api|css|forms|images|includes|js|libs|login|pages|scripts|index\.php) [NC]
RewriteRule ^(.+)$ index.php?p=$1 [L,QSA]